---
import Layout from '@layouts/Layout.astro';

import Card from '@components/astro/Card.astro';

import PreactCounter from '@components/preact/PreactCounter'
import PreactCounter from '@components/preact/PreactForm'
import IslandCounter from '@components/preact/IslandCounter'
import Greeting from '@components/preact/Greeting';

import Hamburger from '@components/astro/Hamburger.astro';
import Form from "@components/astro/Form.astro"

import { signal } from '@preact/signals';

const count = signal(0);
import { addResource, listResources } from "@scripts/resources.ts";
import {type IResource} from "@scripts/resources.ts";

if (Astro.request.method === "POST") {
	try {
		const data =await Astro.request.formData();
		const resource: IResource = {
			url: data.get("url")?.toString() || "",
      title: data.get("title")?.toString() || "",
      summary: data.get("summary")?.toString() || "",
		};
		await addResource(resource);
	} catch (error) {
		console.error(error)
	}

	return Astro.redirect('/');
}

const resources: IResource[] = await listResources();

---

<Layout title="About">


  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	<Form  />
	<PreactCounter client:load />

	<Hamburger />
	<IslandCounter client:visible > 
			IslandCounter
	</IslandCounter>

	<IslandCounter client:visible > 
		<p>This text is rendered on the server</p>
	</IslandCounter>

	<PreactCounter count={count} client:visible >
		Preact Components 
	</PreactCounter >

	<PreactCounter count={count} client:visible >
		Preact Components 2
	</PreactCounter >

	<ul role="list" class="link-card-grid">
		{resources.map((resource) => (
			<Card
				href={resource.url}
				title={resource.title}
				body={resource.summary}
			/>
		))}
	</ul>
</Layout>


