---

import { getCollection } from 'astro:content';

import Layout from "@layouts/Layout.astro"
import Toc from "@components/astro/Toc.astro";
import { mdxComponents } from "@components/astro/mdx/mdxComponents";

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

export async function getStaticPaths() {
  const allPosts = await getCollection('blogs');
  return allPosts.map((post) => ({
    params: { slug: post.slug }, props: post ,
  }));
}

const {slug}  = Astro.params;
const post = Astro.props;

const { Content, headings, remarkPluginFrontmatter } = await post.render();
const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .utc()
  .format("HH:mm:ss DD MMMM YYYY UTC");

---


<Layout title={post.data.title}>

  <h1>{post.data.title}</h1>
  <p>{remarkPluginFrontmatter.minutesRead} </p>
  <p>{remarkPluginFrontmatter.draft} </p>
  <p>{lastModified} </p>

  <Content components={mdxComponents} />

  <Toc {headings}  />

</Layout>